body {
  .menuActive {
    text-decoration: none;
    color: #00c194 !important;
  }
}

.listCustom {
  &.listing-type {
    display: flex;
    .list-content {
      flex: 1 !important;
      .topFive {
        top: 5px;
      }
    }
    .list-thumb {
      flex: 1 !important;
    }
  }
}
.cursor {
  cursor: pointer;
}
meter {
  --base-color: #00c194;
}

meter::-webkit-meter-optimum-value {
  background: var(--base-color);
}
